<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-end">
        <a class="p-2 link-secondary" href="#">Experiences</a>
        <a class="p-2 link-secondary" href="#">About</a>
    </nav>
</div>